@{
    Layout = "_Layout";
}
@model Person;

<form method="post" class="row m-auto" style=" max-width: 30rem;">
    <input type="hidden" class="d-none" value="@Model.Id">
    <div class="col">
        <div class="form-row mb-2">
            <label for="Name">Nome:</label>
            <input class="form-control form-control-sm" name="Name" value="@Model.Name" required />
        </div>
        <div class="form-row mb-2">
            <label for="Gender">Gênero:</label>
            <select class="form-control form-control-sm" name="Gender" value="@((int)Model.Gender)" required>
                <option value="@((int)Gender.Masculino)">Masculino</option>
                <option value="@((int)Gender.Feminino)">Feminino</option>
                <option value="@((int)Gender.Trans)">Trans</option>
                <option value="@Gender.Outro">Outros</option>
            </select>
        </div>
        <div class="form-row mb-2">
            <label for="Ethnicity">Etnia:</label>
            <select class="form-control form-control-sm" name="Ethnicity" required>
                <option value="@((int)Ethnicity.Negro)">Negro</option>
                <option value="@((int)Ethnicity.Branco)">Branco</option>
                <option value="@((int)Ethnicity.Pardo)">Pardo</option>
                <option value="@((int)Ethnicity.Indígena)">Indígena</option>
                <option value="@((int)Ethnicity.Asiático)">Asiático</option>
                <option value="@((int)Ethnicity.Outro)">Outros</option>
            </select>
        </div>
        <div class="form-row mb-2">
            <label for="BirthDate">Data de nascimento:</label>
            <input class="form-control form-control-sm" name="BirthDate" type="date" value="@Model.BirthDate.ToString("yyyy-MM-dd")" required />
        </div>
        <div class="form-row mb-2 justify-content-end">
            <a href="/Person/List" class="btn btn-danger">Voltar</a>
            <button class="ml-2 btn btn-primary" type="submit">Editar</button>
        </div>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function (e) {
        document.getElementsByName('Gender')[0].options.selectedIndex = @((int)Model.Gender);
        document.getElementsByName('Ethnicity')[0].options.selectedIndex = @((int)Model.Ethnicity);
   });
</script>